.env
SpotyBot/bin/Debug/net8.0/SpotyBot.dll
SpotyBot/bin/Debug/net8.0/SpotyBot.dll
SpotyBot/bin/Debug/net8.0/SpotyBot.pdb
SpotyBot/obj/Debug/net8.0/SpotyBot.AssemblyInfoInputs.cache
SpotyBot/obj/Debug/net8.0/SpotyBot.dll
SpotyBot/obj/Debug/net8.0/SpotyBot.pdb
SpotyBot/obj/Debug/net8.0/SpotyBot.sourcelink.json
SpotyBot/obj/Debug/net8.0/ref/SpotyBot.dll
SpotyBot/obj/Debug/net8.0/refint/SpotyBot.dll
SpotyBot/bin/Debug/net8.0/SpotyBot.dll
SpotyBot/bin/Debug/net8.0/SpotyBot.pdb
SpotyBot/obj/Debug/net8.0/SpotyBot.AssemblyInfoInputs.cache
SpotyBot/obj/Debug/net8.0/SpotyBot.dll
SpotyBot/obj/Debug/net8.0/SpotyBot.pdb
SpotyBot/obj/Debug/net8.0/ref/SpotyBot.dll
SpotyBot/obj/Debug/net8.0/refint/SpotyBot.dll
SpotyBot/bin/Debug/net8.0/SpotyBot.dll
SpotyBot/bin/Debug/net8.0/SpotyBot.pdb
SpotyBot/obj/Debug/net8.0/SpotyBot.AssemblyInfo.cs
SpotyBot/obj/Debug/net8.0/SpotyBot.AssemblyInfoInputs.cache
SpotyBot/obj/Debug/net8.0/SpotyBot.dll
SpotyBot/obj/Debug/net8.0/SpotyBot.pdb
SpotyBot/obj/Debug/net8.0/SpotyBot.sourcelink.json
SpotyBot/obj/Debug/net8.0/ref/SpotyBot.dll
SpotyBot/obj/Debug/net8.0/refint/SpotyBot.dll
